<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of weatherInfos">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img [src]="item['current']['condition']['icon']">
                        </div>
                        <p class="card-category">{{item["current"]["condition"]["text"]}}</p>
                        <h3 class="card-title">{{item["location"]["region"]}}
                            <small>{{item["location"]["country"]}}</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>Temp C</td>
                                        <td>{{item["current"]["temp_c"]}}</td>
                                    </tr>
                                    <tr>
                                        <td>Temp F</td>
                                        <td>{{item["current"]["temp_f"]}}</td>
                                    </tr>
                                    <tr>
                                        <td>Feels Like C</td>
                                        <td>{{item["current"]["feelslike_c"]}}</td>
                                    </tr>
                                    <tr>
                                        <td>Wind Degree</td>
                                        <td>{{item["current"]["wind_degree"]}}</td>
                                    </tr>
                                    <tr>
                                        <td>Wind Direction</td>
                                        <td>{{item["current"]["wind_dir"]}}</td>
                                    </tr>
                                    <tr>
                                        <td>Precip</td>
                                        <td>{{item["current"]["precip_mm"]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>